
AlkoCalc/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
AlkoCalc/obj/Debug/AlkoCalc.csproj.AssemblyReference.cache
AlkoCalc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/AlkoCalc/v16/.suo
AlkoCalc/bin/Debug/AlkoCalc.exe
AlkoCalc/bin/Debug/AlkoCalc.pdb
AlkoCalc/bin/Debug/AlkoCalc.exe.config
AlkoCalc/bin/Debug/datafile.dat
AlkoCalc/obj/Debug/AlkoCalc.csproj.CoreCompileInputs.cache
AlkoCalc/obj/Debug/AlkoCalc.csproj.GenerateResource.cache
AlkoCalc/obj/Debug/AlkoCalc.csproj.FileListAbsolute.txt
AlkoCalc/obj/Debug/AlkoCalc.exe
AlkoCalc/obj/Debug/AlkoCalc.GUI.resources
AlkoCalc/obj/Debug/AlkoCalc.pdb
AlkoCalc/obj/Debug/AlkoCalc.Properties.Resources.resources
AlkoCalc/obj/Debug/DesignTimeResolveAssemblyReferences.cache
